#home{data: {role: 'page', theme: 'a'}}
  #header{'data-role' => "header", 'data-position' => "fixed"}
    %a{:href => '#settings', data: {rel: 'dialog', role:"button", icon:"gear", iconpos:"notext"} } Settings
    %h1
      ZeiraMobile
    %a{:href => '#menu', data: {rel: 'dialog', role:"button", icon:"arrow-d"} } Menu
  %div{'data-role' => "content"}
    /%a{:href => '#filter', data: {rel:'dialog',role:"button", icon:"plus"} } Filter
    #booking-lists
  #footer{'data-role' => "footer", 'data-position' => "fixed"}
    %div{data: {role: "navbar", iconpos: :top}}
      %ul
        %li
          %a#add-booking-btn{:href => '#form', data: {role:"button", icon:"plus"} } Add
  %script#booking-list-template{type: 'text/template'}
    %h3
      {{ weekday }}
    %ul{data: {role: "listview", insert: 'true'} }
  %script#booking-item-template{type: 'text/template'}
    %a{href: '#form'} 
      {{ m.getStartTime() }} - {{ m.getEndTime() }} / {{ m.getProject().get('name') }} / {{ m.getActivity().get('name') }}
      %span.ui-li-count
        {{ m.getDuration() }}h
