#summary_activities{data: {role: 'page', theme: 'a', :'add-back-btn' => 'true'}}
  #header{'data-role' => "header", 'data-position' => "fixed"}
    %h1#summary_activities_header
      Summary
  %div{'data-role' => "content"}
    #activity_chartdiv{style: "height:300px;width:400px;margin:auto;"}
    %ul#summary_activities_list{data: {role: "listview", filter: 'true', 'filter-theme' => 'a'} }
  %script#summary_activity_ele{type: 'text/template'}
    %a
      {{ m.get("name") }} - {{ m.getTimeSpentFormated() }} h
